# prometheus.yml
global:
  scrape_interval: 15s # Frecuencia de recolección

scrape_configs:
  # 1. Monitorea a Prometheus mismo
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  # 2. Monitorea tu App NestJS
  - job_name: 'nestjs-app'
    metrics_path: /chat/metrics # <-- ¡MUY IMPORTANTE!
    # Usamos el nombre del contenedor y el puerto INTERNO
    static_configs:
      - targets: ['nestjs-app:3000'] 

  # 3. Monitorea el exporter de Redis
  - job_name: 'redis-exporter'
    static_configs:
      - targets: ['redis-exporter:9121'] # Puerto por defecto de redis_exporter

  # 4. Monitorea el exporter de Postgres
  - job_name: 'postgres-exporter'
    static_configs:
      - targets: ['postgres-exporter:9187'] # Puerto por defecto de postgres_exporter